@{
    ViewData["Title"] = "  Ies web portal";
}
<h1>@ViewData["Title"]</h1>
<div>
    <div>
        Copyright (c) 2016 EGNX<br />
        International Registered Trademark & Property of EGNX<br />
    </div>
    <div>
        <h2>EGNX</h2>
        <address>
            103 Chemin de chasséens<br />
            Zone industrielle Avon<br />
            13120 Gardanne<br />
            <abbr title="Phone">Phone:</abbr>
            +(33) 4 42 12 69 02
        </address>
        <address>
            <strong>Support:</strong> <a href="mailto:cyril@egnx.com">cyril@egnx.com</a><br />
            @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.5362922773434!2d5.453119951231308!3d43.44939797902632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18ccedeb6128967b!2sEGNX!5e0!3m2!1sfr!2sus!4v1473322714881" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
